<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/static/css/home.css">

    <!-- =====BOX ICONS===== -->
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

    <title>Home</title>
</head>

<body>
    <!--===== HEADER =====-->
    <header class="l-header">
        <nav class="nav bd-grid">
            <div>
                <a href="#" class="nav__logo">Akatsuki Securties</a>
            </div>

            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li class="nav__item"><a href="#home" class="nav__link active">Home</a></li>
                    <li class="nav__item"><a href="#about" class="nav__link">About</a></li>
                    <li class="nav__item"><a href="{{url_for('login')}}" class="nav__link">Login</a></li>
                    <li class="nav__item"><a href="{{url_for('signup')}}" class="nav__link">Register</a></li>
                    <li class="nav__item"><a href="#contact" class="nav__link">Contact</a></li>
                </ul>
            </div>

            <div class="nav__toggle" id="nav-toggle">
                <i class='bx bx-menu'></i>
            </div>
        </nav>
    </header>

    <main class="l-main" style="padding: 0;">
        <!--===== HOME =====-->
        <section class="home bd-grid" id="home" style="display: flex;align-items: center;">
            <div class="home__data" style="margin: 0; position: absolute; top:20%;left: 10%;">
                <h1 class="home__title">Hi,<br>We're <span class="home__title-color">Digital</span><br> Eye</h1>

                <a href="#contact" class="button">Contact</a>
            </div>

            
            <div class="home__img" style="position: absolute;top: 20%;right: 10%;">
                <img style="width: 60vh;" src="/static/img/main.jpg" alt="">
            </div>
        </section>

        <!--===== ABOUT =====-->
        <section class="about section " id="about">
            <h2 class="section-title">About</h2>

            <div class="about__container bd-grid">
                <div class="about__img">
                    <img src="/static/img/about.jpg" alt="">
                </div>

                <div>
                    <h2 class="about__subtitle">Akatsuki Securities</h2>
                    <p class="about__text">We are a private company for the cctv survillance system and we detect violence in the cctv footage and alert you via email and phone number.</p>
                </div>
            </div>
        </section>
        <!-- Services -->
        <section class="work section" id="work" >
            <h2 class="section-title">Services We Offer</h2>
        
            <div class="work__container bd-grid">
                <div class="work__img">
                    <img src="/static/img/work1.jpg" alt="">
                    <h3 style="text-align: center;">Alerts</h3>
                </div>
                <div class="work__img">
                    <img src="/static/img/work2.jpg" alt="">
                    <h3 style="text-align: center;">Notifications</h3>
                </div>
                <div class="work__img">
                    <img src="/static/img/work3.jpg" alt="">
                    <h3 style="text-align: center;">Survillance</h3>
                </div>
            </div>
        </section>
        <!--===== CONTACT =====-->
        <section class="contact section" id="contact">
            <h2 class="section-title">Contact</h2>

            <div class="contact__container bd-grid">
                <form action="" class="contact__form">
                    <input type="text" placeholder="Name" class="contact__input">
                    <input type="mail" placeholder="Email" class="contact__input">
                    <textarea name="" id="" cols="0" rows="10" class="contact__input"></textarea>
                    <input type="button" value="Send" class="contact__button button">
                </form>
            </div>
        </section>
    </main>

    <!--===== FOOTER =====-->
    <footer class="footer">
        <p class="footer__title">Akatsuki Securities</p>
        <div class="footer__social">
            <a href="#" class="footer__icon"><i class='bx bxl-facebook'></i></a>
            <a href="#" class="footer__icon"><i class='bx bxl-instagram'></i></a>
            <a href="#" class="footer__icon"><i class='bx bxl-twitter'></i></a>
        </div>
        <p>&#169; 2020 copyright all right reserved</p>
    </footer>


    <!--===== SCROLL REVEAL =====-->
    <script src="https://unpkg.com/scrollreveal"></script>

    <!--===== MAIN JS =====-->
    <script src="/static/js/home.js"></script>
</body>

</html>